name: chavyleung-sync
on:
  push:
      branches:
        - master
  schedule:
    #  每三小时的01分开始执行
    - cron: '1 */3 * * *'
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: sync-chavyleung-scripts
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync chavyleung-scripts
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/chavyleung/scripts.git"
          source_branch: "master"
          destination_branch: "chavyleung"
          github_token: ${{ secrets.PAT }}
